<!DOCTYPE html>
<html>
<head>
    <title>CramBrulee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../scripts/calendarScript.mjs"></script>
</head>
<body>
    <input type="hidden" id="userId" value="{{userId}}">
    <h2><center>CramBrulee</center></h2>
    <div class="container">
        <div id="calendar"></div>
    </div>
    <br>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create/Edit Event</h4>
                </div>
                <div class="modal-body">
                    <form id="eventForm">
                        <div class="form-group">
                            <label for="eventTitle">Event Title:</label>
                            <input type="text" class="form-control" id="eventTitle" required>
                        </div>
                        <!-- Event Start -->
        <div class="form-group">
            <label>Event Start:</label>
            <div class="row">
                <div class="col-xs-6">
                    <input type="date" class="form-control" id="eventStartDate" required />
                </div>
                <div class="col-xs-6">
                    <input type="time" class="form-control" id="eventStartTime" required />
                </div>
            </div>
        </div>
        
        <!-- Event End -->
        <div class="form-group">
            <label>Event End:</label>
            <div class="row">
                <div class="col-xs-6">
                    <input type="date" class="form-control" id="eventEndDate" required />
                </div>
                <div class="col-xs-6">
                    <input type="time" class="form-control" id="eventEndTime" required />
                </div>
            </div>
        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <button id="suggestEventButton" class="btn btn-info">Suggest Event</button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button type="button" class="btn btn-success" id="saveEventButton">Save</button>
                            <button type="button" class="btn btn-danger" id="deleteEventButton" style="display: none;">Delete</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
